.card{
    background-color: rgb(255, 253, 253);
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    
    
}
.card h1 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 0.5em;
    color: rgba(9, 10, 10, 0.9);
    opacity: 0.8;
}
.card h2 {
    font-size: 40px;
    color: rgba(9, 10, 10, 0.9);

    margin: 0;
    opacity: 0.9;
}

.btn-grp{
    display: flex;
    justify-content: space-between;
    
}
.btn-grp button:hover{
    background-color: rgb(115, 156, 194);
}
.btn-grp button{
    font-size: 20px;
    margin: 10px;
    font-weight: 200;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(115, 165, 212);
    border: none;
    color: azure;
    cursor: pointer;
}